.open {
  --issue-color: var(--status-success);
}
.closed {
  --issue-color: var(--status-danger);
}

.open,
.closed {
  --card-title-icon-color: var(--issue-color);
}

.assignee {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  color: var(--text-muted);
}
