.stable {
  --release-color: var(--status-success);
}
.prerelease {
  --release-color: var(--status-warning);
}

.stable,
.prerelease {
  --card-title-icon-color: var(--release-color);
}

.subtitle {
  color: var(--text-muted);
}
